<h1>My spaceships</h1>
<p><%= link_to "Back to home", root_path, class: "btn btn-outline-danger" %></p>

<div class="row">
  <% @spaceships.each do |spaceship| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag(spaceship.image.key, crop: :fill) %>
        <div class="card-body">
            <p>Rent n° <strong><%= spaceship.id %></strong><br>
            <%= link_to "#{spaceship.name}", spaceship_path(spaceship) %>
            <p><strong><%= spaceship.description %></strong></p>
            <p><strong><%= spaceship.address %></strong></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
