<h1>My Bookings</h1>
<p><%= link_to "Back to home", root_path %></p>

<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://www.denofgeek.com/wp-content/uploads/2016/01/naboo-starfighter.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p>Booking n° <strong><%= booking.id %></strong><br>
              <%= link_to "#{booking.spaceship.name}", spaceship_path(booking.spaceship) %>
            </p>
            <p>Start <strong><%= booking.startbook_time %></strong></p>
            <p>End <strong><%= booking.endbook_time %></strong></p>
            <p>Price <strong><%= booking.spaceship.price %> £</strong></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
