<div>
  <h1><%= @spaceship.name %></h1><br>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%# <a class="nav-link active" aria-current="page" href="#"> %>
        <% if @spaceship.user == current_user %>
          <%= link_to edit_spaceship_path(@spaceship.id) do %>
            <i>EDIT</i>
          <% end %>
        <% end %>
      <%# </a> %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <% if @spaceship.user == current_user %>
          <%= link_to "Delete", spaceship_path(@spaceship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-6">
    <img src="https://www.denofgeek.com/wp-content/uploads/2016/01/naboo-starfighter.jpg" class="card-img-top" alt="..."><br><br>
    <p class="card-text"><%= @spaceship.description %></p>
    <h4>Address</h4>
    <p><%= @spaceship.address %></p><br>
    <h4>Price</h4>
    <p><%= @spaceship.price %> BTC/day</p><br>
  </div>
  <div class="col-6">
    <%# Mapbox %>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>
  </div>
</div>



<%# CREATE BOOKING_FORM %>
<% if @spaceship.user != current_user %>
  <h3>Book now </h3><br>
  <%= simple_form_for [@spaceship, @booking] do |f| %>
    <%= f.input :startbook_time, as: :date, html5: true  %>
    <%= f.input :endbook_time, as: :date, html5: true  %>
    <button type="submit" class="btn btn-warning"><%= f.button :submit %></button>
  <% end %>
<% end %>



<br><br><br>

<%# EDIT SPACESHIP %>
<% if @spaceship.user == current_user %>
  <%= link_to edit_spaceship_path(@spaceship.id) do %>
    <i>EDIT</i>
  <% end %>
<% end %>

<br><br>

<%# DELETE SPACESHIP %>
<% if @spaceship.user == current_user %>
  <%= link_to "Delete",
    spaceship_path(@spaceship),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>

<br><br><br>
