<h1><%= @spaceship.name %></h1>

<p><%= @spaceship.image %></p>
<p><%= @spaceship.description %></p>
<p><%= @spaceship.price %>€</p>

<%= link_to "Back", root_path %>
<%= link_to "Book this spaceship", new_spaceship_booking_path(@spaceship) %>
