<div class="row">
  <div class="col-6">
    <h1 class="card-title"><%= @spaceship.name %></h1>
    <img src="https://www.denofgeek.com/wp-content/uploads/2016/01/naboo-starfighter.jpg" class="card-img-top" alt="...">
    <p class="card-text"><%= @spaceship.description %></p>
    <a href="<%= new_spaceship_booking_path(@spaceship) %>" class="btn btn-dark">Book now !</a>
    <p><%= link_to "Back", root_path %></p>
  </div>
  <div class="col-6">
    <%# map %>
  </div>
</div>

  <%# NE MARCHE PAS %>
  <%# TEST Lien pour upload une photo TEST %>
  <%# <%= f.input :image, as: :file %>
  <%# <img src="https://res.cloudinary.com/demo/image/upload/sample"> %>
  <%# <img src="img_vaisseau.jpg" alt="Spaceship" width="500" height="600"> %>
